{% extends "./plantilla.html" %}
{% block contenido %}
{% load static %}

<div style="padding: 40px 30px 60px 30px;">
  <div class="text-center">
    <h1>

    <b>

      <i class="fa-solid fa-bowl-food"></i>
      Pedido
    </b>
    </h1>
    <br>
  </div>


    <br>
    <div class="row">
       <div class="col-md-5">
         <form class="" action="/guardarPedido/" method="post" enctype="multipart/form-data" id="frm_nuevo_cliente">
           {% csrf_token %}
           <b>Cliente:</b><br>
           <select class="form-control" name="id_cli" id="id_cli" required>
             <option value="">---SELECCIONE EL CLIENTE---</option >
             {%  for cliente in clientes %}
             <option value="{{cliente.id_cli_vj}}">{{cliente.nombre_vj}}</option>
             {% endfor %}
           </select><br>

            <b>Fecha del pedido:</b><br>
           <input type="date" name="fechape_vj" value="" id="fechape_vj" placeholder="Ingrese la fecha del pedido" class="form-control" required><br>
           <b>Estado del pedido:</b><br>
           <input type="text" name="estadope_vj" value="" id="estadope_vj" placeholder="Ingrese el estado del pedido" class="form-control" required><br>
           <b>Método de Pago:</b>
           <input type="text" name="metodopago_vj" value="" id="metodopago_vj" placeholder="Ingrese el método de pago" class="form-control" required><br>
           <b>Observación:</b>
            <input type="text" name="observacion_vj" value="" id="observacion_vj" placeholder="Ingrese la observación" class="form-control" required><br>
            <center>
              <button type="submit" name="button" class="btn btn-primary">&nbsp;&nbsp;<i class="fa-solid fa-floppy-disk"></i>&nbsp;Guardar&nbsp;&nbsp;&nbsp;</button>
              <button type="reset" name="button" class="btn btn-warning">&nbsp;&nbsp;<i class="fa-solid fa-xmark"></i>&nbsp;Cancelar&nbsp;&nbsp;&nbsp;</button>

            </center>


         </form>

       </div>
       <div class="col-md-7 text-center">
         <img src="{% static 'img/logo4.png' %}" alt="" width="25%"><br><br>
         <table class="table table-striped" id="tbl_clientes">
           <thead>
             <tr>
               <th>ID</th>
               <th>Fecha</th>
               <th>Estado</th>
               <th>Método de Pago</th>
               <th>Observación</th>
               <th>Cliente</th>
               <th>Acciones</th>
             </tr>

           </thead>
           <tbody>
             {% for pedido in pedidos %}
                <tr>
                  <td>{{pedido.id_pe_vj}}</td>
                  <td>{{pedido.fechape_vj}}</td>
                  <td>{{pedido.estadope_vj}}</td>
                  <td>{{pedido.metodopago_vj}}</td>
                  <td>{{pedido.observacion_vj}}</td>
                  <td>{{pedido.cliente_vj.nombre_vj}}</td>
                  <td>
                        <a href="/editarPedido/{{pedido.id_pe_vj}}" class="btn btn-warning">&nbsp;<i class="fa-solid fa-pen-to-square"></i>&nbsp;Editar&nbsp;</a>
                        <a href="javascript: void(0)" onclick="eliminarPedido('/eliminarPedido/{{pedido.id_pe_vj}}');" class="btn btn-danger">&nbsp;<i class="fa-solid fa-trash"></i>&nbsp;Eliminar&nbsp;</a>
                  </td>
                </tr>
                {% endfor %}
           </tbody>

         </table>
       </div>
    </div>
</div>
<script type="text/javascript">
      function eliminarPedido(url){
        iziToast.question({
            timeout: 15000,
            close: true,
            overlay: true,
            displayMode: 'once',
            id: 'question',
            zindex: 999,
            title: 'CONFIRMACIÓN',
            message: '¿Está seguro de eliminar el cliente seleccionado?',
            position: 'center',
            buttons: [
                ['<button><b>SI</b></button>', function (instance, toast) {
                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                    window.location.href=url;
                }, true],
                ['<button>NO</button>', function (instance, toast) {

                    instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

                }],
            ]
        });
      }
    </script>
    <script type="text/javascript">
      $("#frm_nuevo_cliente").validate({
        rules:{
          "id_cli":{
            required:true
          },
          "fechape_vj":{
            required:true
          },
          "estadope_vj":{
            required:true
          },
          "metodopago_vj":{
            required:true
          },
          "observacion_vj":{
            required:true
          }
        },
        messages:{
          "id_cli":{
            required:"Escoja el cliente"
          },
          "fechape_vj":{
            required:"Ingrese la fecha del pedido"
          },
          "estadope_vj":{
            required:"Ingrese el estado del pedido"
          },
          "metodopago_vj":{
            required:"Ingrese el metodo de pago"
          },
          "observacion_vj":{
            required:"Ingrese alguna observación"
          }
        }
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
          $('#tbl_clientes').DataTable({
              dom: 'Bfrtip',
              buttons: [
                  {
                      extend: 'pdfHtml5',
                      messageTop: 'Reportes de clientes en DJango.'
                  },
                  'print',
                  'csv'
              ],
              language: {
                  url: "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json" // Configura el idioma a español
              }
          });
      });
  </script>

  {% endblock %}
